/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap'); */

/* CSS Global Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI'; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-weight: 200; */
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}