@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --dark: #0F0F0F;
    --light: #e6e6e6;
    --light-2: #DADADA;
    --accent: #24477f;

    --light-border: hsla(0, 0%, 90%, 0.25);
    --dark-border: hsla(0, 0%, 6%, 0.25);
    
    color: var(--dark);
    scroll-behavior: smooth;
}

section {
    width: 100%;
    min-height: 100vh;
    background: var(--light);
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: min(20vw, 9rem);
        line-height: 1.1;
    }
    h2 {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        letter-spacing: min(5.5vw, 3.2rem);
        text-indent: min(5vw, 2.7rem);
        font-kerning: normal;
    }
}

.gradient-half-section {
    width: 100%;
    height: 50vh;
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-border);

    h1 {
        font-size: min(3rem, 8vw);
        font-weight: 200;
        text-align: center;
        color: transparent;
        background: linear-gradient(45deg, var(--accent) 45%, var(--light) 50%, var(--accent) 55%);
        background-size: 250%;
        background-clip: text;
        animation: gradient 15s infinite;
    }
}

@keyframes gradient {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.services-section {
    display: flex;
    flex-direction: column;
    background: var(--dark);
    color: var(--light);

    .services-title {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--light-border);
        padding-inline: 2.5rem;
        text-align: center;

        h1 {
            font-size: min(4.2rem, 12vw);
            font-weight: 200;
        }
    }

    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        border-bottom: 1px solid var(--dark);

        .service-box {
            aspect-ratio: 1;
            border-bottom: 1px solid var(--light-border);
            border-left: 1px solid var(--light-border);
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            p {
                font-size: 1.5rem;
                font-weight: 200;
                z-index: 2;
            }

            .bg-img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #000;
                background-size: cover;
                background-position: center;
                display: block;
                opacity: 0;
                transition: opacity 0.6s ease;
            }
        }

        .service-box:hover {
            .bg-img {
                opacity: 1;
            }
        }
    }  
}

.service-popup-container {
    position: fixed;
    inset: 0 auto auto 0;
    background: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(20px) saturate(180%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    .service-popup {
        width: 45rem;
        min-height: 20rem;
        background: var(--light);
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 92% 100%, 0% 100%);
        position: relative;
        color: var(--light);
        padding: 2rem 3rem 3rem 2rem;
        transform: translateY(10rem);
        opacity: 0;
        transition: all 0.3s 0.1s ease;

        h1 {
            font-weight: 200;
            padding-bottom: 2rem;
        }
    
        p {
            text-align: justify;
        }
    
        .close {
            width: 30px;
            aspect-ratio: 1;
            background: var(--light);
            position: absolute;
            inset: 1rem 1rem auto auto;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                color: var(--dark);
                width: 100%;
                height: auto;
            }
        }
    }

    .service-popup::after {
        content: "";
        position: absolute;
        top: -1rem;
        left: -1rem;
        width: 100%;
        height: 100%;
        background: var(--dark);
        clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 93% 100%, 0% 100%);
        z-index: -1;
    }

}

.project-section {

    h1 {
        padding-top: 2rem;
        text-align: center;
        font-size: 6rem;
        font-weight: 200;
    }

    .card-container {
        width: 90vw;
        margin: 3rem auto;
        display: flex;
        gap: 1.8rem;
        overflow-x: auto;
        scrollbar-color: var(--dark-border) var(--light);
        scrollbar-width: thin;
        
        .project-card {
            min-width: 20rem;
            aspect-ratio: 0.72;
            background: var(--dark);
            color: var(--light);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            transition: all 0.3s ease;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
            position: relative;

            .card-image {
                position: absolute;
                top: 0;
                width: 100%;
                aspect-ratio: 1;
                background: #FFF;
                background-size: 85%;
                background-position: center;
                background-repeat: no-repeat;
            }

            .card-des {
                width: 100%;
                height: fit-content;
                padding: 1.2rem;
                background: var(--dark);
                font-weight: 200;

                h2 {
                    font-size: 2rem;
                    font-weight: 200;
                }
            }
            
            header {
                font-size: 2rem;
                font-weight: 200;
                padding: 0.8rem 1.6rem 0rem 1.6rem;
            }
        }
        .project-card:hover {
            clip-path: polygon(15% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%, 0% 15%);
            
        }
    }
    .card-container::-webkit-scrollbar {
        background-color: var(--light);
        height: 8px;
    }
    .card-container::-webkit-scrollbar-thumb {
        background-color: var(--dark-border);
    }
}

.project-screen-container {
    position: fixed;
    inset: 0 0;
    background: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(20px) saturate(180%);
    width: 100%;
    height: auto;
    z-index: 10;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    .project-screen {
        margin: 0rem auto;
        width: 100%;
        min-height: 100vh;
        background: var(--light);
        clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
        padding-bottom: 5rem;
        position: relative;
        transform: translateY(10rem);
        transition: all 0.3s 0.1s ease;
        
        .cover-img {
            width: 100%;
            aspect-ratio: calc(16/9);
            background-position: center;
            background-size: cover;
            position: relative;

            .web-link {
                position: absolute;
                inset: auto 1rem 1rem auto;
                height: 2rem;
                background: hsla(0, 0%, 100%, 0.5);
                border-radius: 50px;
                padding: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                color: var(--dark);
                text-decoration: none;

                p {
                    display: contents;
                }
            }
        }

        h1 {
            padding: 1.6rem 2rem;
            font-weight: 400;
        }

        p {
            padding-inline: 2rem;
            text-align: justify;
        }

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 30px;
            aspect-ratio: 1;
            background: hsla(0, 0%, 100%, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 200;
            color: var(--dark);
            cursor: pointer;
        }
    }
}

.test-section {
    .test-container {
        height: 60vh;
        padding: 2rem;
    }
    .clients-container {
        height: 40vh;
        // padding: 1rem;
        border-top: 1px solid var(--dark-border);
        border-bottom: 1px solid var(--dark-border);
        overflow: hidden;
        width: 100%;
        position: relative;
        display: flex;

        h1 {
            text-align: center;
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 400;
            position: absolute;
            width: 100%;
        }

        &:hover .card-container {
            animation-play-state: paused;
        }

        .card-container {
            display: flex;
            position: relative;
            margin-top: 2rem;
            animation: marquee 15s linear infinite;
            align-items: center;

            .client-card {
                min-width: 14rem;
                height: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-inline: 3.2rem;
                gap: 2rem;

                .client-card-img {
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 5rem;
                    // filter: sepia(1) hue-rotate(180deg);
                }

                hr {
                    width: 100%;
                    border-top: 1px solid var(--dark-border);
                    opacity: 0.5;
                }

                h2 {
                    font-size: 1.2rem;
                    font-weight: 200;
                }
            }
        }
    }
}

@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}

footer {
    width: 100%;
    height: 50vh;
    background: var(--dark);
    position: relative;

    .contact {
        width: min(60rem, 100%);
        margin: 0 auto;
        padding-block: 1rem;
        padding-inline: 1rem;
        color: var(--light);

        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        h2 {
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        
        p, a {
            text-decoration: none;
            color: var(--light);
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding-block: 0.2rem;
            font-weight: 200;
        }

        a {
            margin-bottom: 0.5rem;
            width: fit-content;
        }
    }

    .copyright {
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        padding-bottom: 1.5rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        hr {
            color: hsla(0, 0%, 100%, 0.45);
            width: min(60rem, 100%);
            height: 0px;
            border-bottom: 0px solid hsla(0, 0%, 100%, 0.45);
        }

        p {
            color: hsla(0, 0%, 100%, 0.45);
            font-weight: 200;
            width: min(60rem, 100%);
        }
    }
}

/* Destop specific CSS */
@media screen and (min-width: 769px) {
    .services-section {
        flex-direction: row;

        .services-title {
            align-items: unset;
            padding-top: 1.5rem;
            width: 30vw;
            height: 100vh;
            text-align: left;
        }
        .services-grid {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr !important;

            .service-box {
                aspect-ratio: unset;
                align-items: flex-end;
                justify-content: flex-start;
            }
        }
    }

    .project-section {
        .project-card {
            width: 20rem;
        }
    }

    .project-screen-container {
        .project-screen {
            margin: 5rem auto;
            width: 60vw;
            clip-path: polygon(0% 8%, 8% 0%, 100% 0%, 100% 92%, 92% 100%, 0% 100%);
        }
    }

    #less-cards {
        justify-content: center;
    }
}